    * {
        box-sizing: border-box;
    }
    
    .container {
        display: flex;
        justify-content: space-evenly;
    }

    section.home {
        margin-top: 50px;
    }
    
    .left-box {
        width: 600px;
        height: 300px;
        border: 1px solid black;
    }
    
    li {
        list-style-type: none;
        border: 1px solid green;
    }
    
    .test {
        display: flex;
        width: 360px;
        height: 300px;
        border: 1px solid black;
    }
    
    .q-box {
        padding: 10px;
        line-break: auto;
    }
    
    input {
        width: 550px;
        margin: 20px;
        display: block;
    }
    
    .card-image {
        .image {
            height: 600px;
            width: 200px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    
    .image img {
        height: 600px;
        width: 200px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    h1.title.is-1 {
        margin-top: 30px;
        color: red;
        margin-left: 20%;
    }
    
    nav {
        margin-left: 40%;
        margin-top: 15px;
    }
    
    nav a {
        margin-left: 30px;
        color: white;
        font-weight: 600;
    }
    
    nav {
        background-color: red;
        margin-left: 60px;
        margin-right: 60px;
    }
    
    button {
        background-color: blue;
        color: white;
        font-weight: 600;
        padding: 10px;
        border-radius: 10px;
        width: 100px;
    }
    
    a .login {
        float: right;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    .card {
        width: 300px;
        border: 1px solid black;
        padding: 10px;
        margin: 30px auto;
        height: auto;
    }
    
    .columns.is-multiline {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .buttons {
        display: flex;
        justify-content: space-around;
    }
    
    .section-one {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        position: relative;
    }
    
    form.form-new {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 110px;
        background-color: grey;
        height: 580px;
        width: 80%;
    }
    
    .control .input {
        width: 320px;
        height: 50px;
    }
    
    label.label {
        margin-left: 20px;
    }
    
    input.input-question {
        width: 924px;
        margin-left: 80px;
        height: 50px;
    }
    
    .label-question {
        margin-left: 80px;
    }
    
    h3 {
        margin-top: -30px;
    }
    
    button.button.is-primary.new-question {
        margin: 0 auto;
    }
    
    .answers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .field-answer {
        width: 400px;
    }
    
    li {
        list-style-type: none;
        border: 1px solid green;
    }
    
    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
    }
    
    button.edit {
        height: 45px;
    }
    
    button.delete {
        height: 55px;
    }
    
    .pagination {
        display: flex;
        justify-content: center;
    }
    
    .pagination>.active>a {
        background-color: #47ccde;
        border-color: #47ccde;
        color: #fff;
    }
    
    .pagination>li>a {
        padding: 5px 10px;
        outline: none;
        cursor: pointer;
    }
    
    .pagination>.active>a,
    .pagination>.active>span,
    .pagination>.active>a:hover,
    .pagination>.active>span:hover,
    .pagination>.active>a:focus,
    .pagination>.active>span:focus {
        background-color: #47ccde;
        border-color: #47ccde;
        outline: none;
    }
    
    .pagination>li>a,
    .pagination>li>span {
        color: #47ccde
    }
    
    .pagination>li:first-child>a,
    .pagination>li:first-child>span,
    .pagination>li:last-child>a,
    .pagination>li:last-child>span {
        border-radius: unset
    }
    
    input {
        width: 550px;
        margin: 20px;
        display: block;
    }
    
    .question {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }